@charset "UTF-8";body{background-image:url(images/bg_image.jpg);background-position:top center;background-repeat:no-repeat;}#site_level{max-width:950px;margin:10px auto 10px auto;}.skipNav{color:black;height:1px;left:0;overflow:hidden;position:absolute;top:-1000px;width:1px;}.breadCrumb a{padding:0 1em 0 1em;}
#page_menu li{display:inline;list-style:none;margin:0;padding:1em;}
#section_header{float:left;margin:0 10px 0 0;width:228px;}
